<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internship.exporter.mapper.CompanyMapper">

    <select id="insertCompany" resultMap="companyResultMap">
        INSERT INTO company (
            company_name,
            company_number,
            company_status,
            company_location,
            date_of_creation,
            company_authority,
            termination_date
        )
        VALUES (
            #{companyName},
            #{companyNumber},
            #{companyStatus},
            #{companyLocation},
            #{dateOfCreation},
            #{companyAuthority},
            #{terminationDate}
        )
        ON CONFLICT (company_number)
        DO UPDATE
        SET
            company_name = EXCLUDED.company_name,
            company_status = EXCLUDED.company_status,
            company_location = EXCLUDED.company_location,
            date_of_creation = EXCLUDED.date_of_creation,
            company_authority = EXCLUDED.company_authority,
            termination_date = EXCLUDED.termination_date
        RETURNING *;
    </select>

    <select id="insertIndustries" resultMap="industryResultMap">
        INSERT INTO industry (
        industry_code,
        industry_name,
        industry_description
        )
        VALUES
        <foreach collection="list" item="industry" separator=",">
            (
            #{industry.industryCode},
            #{industry.industryName},
            #{industry.industryDescription}
            )
        </foreach>
        ON CONFLICT (industry_code)
        DO UPDATE
        SET
            industry_name = EXCLUDED.industry_name,
            industry_description = EXCLUDED.industry_description
        RETURNING *;
    </select>

    <insert id="insertCompanyIndustry">
        INSERT INTO company_industry(company_id, industry_id)
        VALUES
        <foreach collection="industries" item="industry" separator=",">
            (
            #{company.id},
            #{industry.id}
            )
        </foreach>
        ON CONFLICT
        DO NOTHING;
    </insert>

    <select id="insertTaxAuthority" resultMap="taxAuthorityResultMap">
        INSERT INTO tax_authority (
            authority_code,
            authority_name
        ) VALUES
        (
            #{authorityCode},
            #{authorityName}
        ) ON CONFLICT (authority_code, authority_name)
            DO UPDATE
          SET
              authority_code = EXCLUDED.authority_code,
              authority_name = EXCLUDED.authority_name
          RETURNING *;
    </select>

    <insert id="insertTerminationInfo">
        INSERT INTO termination (termination_date, termination_registration_number, termination_description, company_id)
        VALUES (#{terminationDate},
                #{terminationRegistrationNumber},
                #{terminationDescription},
                #{companyId})
        ON CONFLICT DO NOTHING
    </insert>

    <insert id="insertTaxInfo">
        INSERT INTO tax_info (tax_registration_number, date_of_registration, tax_payer_type, tax_authority_id, company_id)
        VALUES (#{taxRegistrationNumber},
                #{dateOfRegistration},
                #{taxPayerType},
                #{taxAuthorityId},
                #{companyId})
        ON CONFLICT DO NOTHING
    </insert>

    <resultMap id="companyResultMap" type="com.internship.exporter.model.Company">
        <id property="id" column="id"/>
        <result property="companyName" column="company_name"/>
        <result property="companyNumber" column="company_number"/>
        <result property="companyStatus" column="company_status"/>
        <result property="companyLocation" column="company_location"/>
        <result property="dateOfCreation" column="date_of_creation"/>
        <result property="companyAuthority" column="company_authority"/>
    </resultMap>

    <resultMap id="industryResultMap" type="com.internship.exporter.model.Industry">
        <id property="id" column="id"/>
        <result property="industryCode" column="industry_code"/>
        <result property="industryName" column="industry_name"/>
        <result property="industryDescription" column="industry_description"/>
    </resultMap>

    <resultMap id="taxAuthorityResultMap" type="com.internship.exporter.model.TaxAuthority">
        <id property="id" column="id"/>
        <result property="authorityCode" column="authority_code"/>
        <result property="authorityName" column="authority_name"/>
    </resultMap>

</mapper>